# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [54]:
import pandas as pd 
import numpy as np
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:

pokemon_regular_mean = round(pokemon[(pokemon['Legendary'] == False)]['Total'].mean(),2)
pokemon_legendary_mean = round(pokemon[(pokemon['Legendary'] == True)]['Total'].mean(),2)

print(f'Media pokemon regulares: {pokemon_regular_mean}')
print(f'Media pokemon legendarios: {pokemon_legendary_mean}\n')

pokemon_regular_std = round(pokemon[(pokemon['Legendary'] == False)]['Total'].std(),2)
pokemon_legendary_std = round(pokemon[(pokemon['Legendary'] == True)]['Total'].std(),2)

print(f'Std pokemon regulares: {pokemon_regular_std}')
print(f'Std pokemon legendarios: {pokemon_legendary_std}')

Media pokemon regulares: 417.21
Media pokemon legendarios: 637.38

Std pokemon regulares: 106.76
Std pokemon legendarios: 60.94

In [7]:
pokemon_legendary = (pokemon[(pokemon['Legendary'] == True)])
pokemon_regular= (pokemon[(pokemon['Legendary'] == False)])

pokemon_legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
n_legendary = len(pokemon_legendary)
n_regular = len(pokemon_regular)


t_stat = round((pokemon_legendary_mean - pokemon_regular_mean) / ((pokemon_legendary_std**2/n_legendary) + (pokemon_regular_std**2 / n_regular))**
               (1/2),2)
t_stat

25.83

In [9]:
n_legendary

65

In [10]:
import scipy.stats as st

t_stat, p_value = st.ttest_ind(pokemon_legendary['Total'], pokemon_regular['Total'],equal_var='False') 
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.8f}")
print()

alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): 16.39
P-Value: 0.00000000

Reject the Null Hypothesis

What do you conclude from this test? Write your conclusions below.

Se rechaza la hipotesis nula y se concluye que hay diferencia significativa entre ambos tipos

# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [11]:
pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [12]:
pokemon_water = pokemon[pokemon['Type 1'] == 'Water']
pokemon_not_water = pokemon[pokemon['Type 1'] != 'Water']

pokemon_water_mean = round(pokemon_water['Total'].mean(),2)
pokemon_not_water_mean = round(pokemon_not_water['Total'].mean(),2)

print(f'Pokemon water type total points mean: {pokemon_water_mean}')
print(f'Pokemon not water total points mean: {pokemon_not_water_mean}\n')

pokemon_water_std = round(pokemon_water['Total'].std(),2)
pokemon_not_water_std = round(pokemon_not_water['Total'].std(),2)

print(f'Pokemon water type total points std: {pokemon_water_std}')
print(f'Pokemon not water total points std: {pokemon_not_water_std}\n')

Pokemon water type total points mean: 430.46
Pokemon not water total points mean: 435.86

Pokemon water type total points std: 113.19
Pokemon not water total points std: 121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

Hipotesis nula: las medias son iguales 
- Ho: X1 = X2
Hipotesis alternativa  
- H1: X1 != X2

In [13]:
t_stat, p_value = st.ttest_ind(pokemon_water['Total'], pokemon_not_water['Total'],equal_var='True') 
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.8f}")
print()

alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): -0.44
P-Value: 0.65871403

Fail to Reject the Null Hypothesis

# Your conclusions here:

##### After got the results we can conclude that there is not enough evidences to say that water pokemons are better than the others.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [14]:
pokemon_defense = pokemon['Defense']
pokemon_attack = pokemon['Attack']

In [15]:
t_stat, p_value = st.ttest_rel(pokemon_defense, pokemon_attack) 
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.8f}")
print()

alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): -4.33
P-Value: 0.00001714

Reject the Null Hypothesis

Describe the results of the test in the cell below.

- We can conclude that there is a signficant diferences between attacks score and defense score.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [16]:
pokemon_SD = round(pokemon['Sp. Def'].mean(),2)
pokemon_SA = round(pokemon['Sp. Atk'].mean(),2)

print(pokemon_SA)
print(pokemon_SD)

72.82
71.9

In [ ]:
pokemon_SA = 50

72.82

In [34]:
t_stat, p_value = st.ttest_rel(pokemon['Sp. Def'],pokemon['Sp. Atk']) 
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.8f}")
print()

alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): -0.85
P-Value: 0.39336860

Fail to Reject the Null Hypothesis

Describe the results of the test in the cell below.

# Your conclusions here:

We can conclude that there is no significant difference between Special Attack and Special Defense

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [39]:
t_stat, p_value = st.ttest_1samp(pokemon_SA, pokemon_SD) 
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.8f}")

alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): nan
P-Value: nan
Reject the Null Hypothesis

c:\Users\Darkos\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:1087: RuntimeWarning: divide by zero encountered in divide
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero
c:\Users\Darkos\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:1087: RuntimeWarning: invalid value encountered in scalar multiply
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero

In [37]:
print("Varianza de Sp. Def:", pokemon['Sp. Def'].var())
print("Varianza de Sp. Atk:", pokemon['Sp. Atk'].var())

Varianza de Sp. Def: 774.4485544430531
Varianza de Sp. Atk: 1070.748535669585

In [ ]:
pokemon

0       65
1       80
2      100
3      122
4       60
      ...
795    100
796    160
797    150
798    170
799    130
Name: Sp. Atk, Length: 800, dtype: int64

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [51]:
pokemon_legendary_water = pokemon[(pokemon['Legendary'] == True) & (pokemon['Type 1'] == 'Water')]
print(len(pokemon_legendary_water))
pokemon_not_legendary_water = pokemon[(pokemon['Legendary'] == False) & (pokemon['Type 1'] == 'Water')]
print(len(pokemon_not_legendary_water))
pokemon_legendary_not_water = pokemon[(pokemon['Legendary'] == True) & (pokemon['Type 1'] != 'Water')]
print(len(pokemon_legendary_not_water))
pokemon_not_legendary_not_water = pokemon[(pokemon['Legendary'] == False) & (pokemon['Type 1'] != 'Water')]
print(len(pokemon_not_legendary_not_water))

4
108
61
627

In [53]:
crosstab_result = pd.crosstab(index=pokemon['Legendary'] == True,columns=pokemon['Legendary'] == False)

crosstab_result

Legendary  False  True
Legendary
False          0    735
True          65      0

In [55]:
chi2_stats, chi2_pvalue, _, _ = chi2_contingency(crosstab_result)
chi2_contingency(crosstab_result)

Chi2ContingencyResult(statistic=786.6599523921793, pvalue=4.29000680670882e-173, dof=1, expected_freq=array([[ 59.71875, 675.28125],
       [  5.28125,  59.71875]]))

In [52]:
crosstab_result1 = pd.crosstab(index=pokemon['Type 1'] == 'Water',columns=pokemon['Type 1'] != 'Water')

crosstab_result1

Type 1  False  True
Type 1
False       0    688
True      112      0

In [56]:
chi2_stats, chi2_pvalue, _, _ = chi2_contingency(crosstab_result1)
chi2_contingency(crosstab_result1)

Chi2ContingencyResult(statistic=791.7159095926094, pvalue=3.4133683946130264e-174, dof=1, expected_freq=array([[ 96.32, 591.68],
       [ 15.68,  96.32]]))

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: